
.panel-heading{
	background-color : #F1DFEA;
	border	 : 1px solid #F1DFEA;
	color : #e9294b;
}

.panel-body{
	color :#e9294b ;
	border	 : 1px solid #F1DFEA;
}

.jumbotron-session{
	border: 1px solid;
	background-color : #F1DFEA;
	color : #e9294b;
    padding-top: 10px;
    padding-bottom: 10px;
}

.list-group-item-custom {
	background-color : #F1DFEA;
	border	 : 1px solid #F1DFEA;
	color : #e9294b;
}

.fa{
	color:#e9294b;
}


.angular-google-map-container
{
    width:500px;
    height:480px;
}

.app, .app-body {
    height: 100%;
    overflow: hidden;
	background-color: #fff;
}


.btn-custom {
	color: #FFF;
	background-color : #e9294b;
	border-color : #FFF;
}

.link-custom {
	color: #e9294b;
}
.text-custom{
	color:#e9294b;
}

.label-custom{
	background-color:#e9294b;
}


.centered {
    display: table-cell;
    vertical-align: middle;
	margin: 0 auto;
}


.btn-group > .btn-default.active  {
	color: #fff;
	background-color:#e9294b;
	opacity: .65;
	border-color:#e9294b;
}

.btn-group > .btn-default.active:hover  {
	color: #fff;
	background-color:#e9294b;
	opacity: .65;
	border-color:#e9294b;
}

.pager > li > a {
	margin : 2px;
}

.gmap {
	height : 500px;
}

.fake-link {
	cursor:pointer;
}

.fake-link:hover {
	
	color: #333;
	background-color: #ffe6e6;
	border-color: #ffe6e6;
}

.panel-custom  {
/*	border-color: #ff6666;*/
}

.panel-custom > .panel-heading {
	background-color: #ffe6e6;
}



.container-fluid > .navbar-header {
    margin-right: 15px;
    margin-left: 15px;
}

.navbar-brand {
	padding : 0px;
}

#imgLogo {
	height: 50px;
}

#logoMobile {
	margin-top: -10px;
}

#title {
	margin-top: 15px;
	margin-left: 5px;
	margin-bottom: -15px;
}