
.panel-heading{
	background-color : #F1DFEA;
	border	 : 1px solid #F1DFEA;
	color : #e9294b;
}

.panel-body{
	color :#e9294b ;
	border	 : 1px solid #F1DFEA;
}


.list-group-item-custom {
	background-color : #F1DFEA;
	border	 : 1px solid #F1DFEA;
	color : #e9294b;
}

.fa, .btn.fa{
	color:#e9294b;
}

.btn.fa:hover {
	color:#21a3a6;
}
.angular-google-map-container
{
    width:500px;
    height:480px;
}

.app, .app-body {
    height: 100%;
    overflow: hidden;
	background-color: #fff;
}


.link-custom {
	color: #e9294b;
}
.text-custom{
	color:#e9294b;
}

.text-custom-secondary{
	color:#21a3a6;
}



.label-custom{
	background-color:#e9294b;
}


.centered {
    display: table-cell;
    vertical-align: middle;
	margin: 0 auto;
}


.btn-group > .btn-default.active  {
	color: #fff;
	background-color:#e9294b;
	opacity: .65;
	border-color:#e9294b;
}

.btn-group > .btn-default.active:hover  {
	color: #fff;
	background-color:#e9294b;
	opacity: .65;
	border-color:#e9294b;
}

.gmap {
	height : 500px;
}

.fake-link {
	cursor:pointer;
}

.fake-link:hover {
	
	color: #333;
	background-color: #ffe6e6;
	border-color: #ffe6e6;
}


.panel-custom > .panel-heading {
	background-color: #ffe6e6;
}



#imgLogo {
	height: 50px;
/*	margin-top : -15px;
*/}

#logoMobile {
	margin-top: 5px;
}

#liveAudio {
	padding: 0 100px;
}

.pager > li > a {
	margin : 2px;
	background-color: #21a3a6;
	color:#FFF;
}

.pager > li > a:hover {
	margin : 2px;
	background-color: #21a3a6;
	border: 2px solid #e9294b;
}

.pager > li > a.active {
	background-color: #FFF;
	border: 2px solid #e9294b;
}

.img-episode {
/*	margin-top:10px;*/
	margin-right:5px;
	width: 54px; 
	height: 54px;
}

.list-group-item{	
	margin: 10 30 0px;
	background-color: #21a3a6;
	border: 2px solid #ccc;
	color: #fff;
}

.list-group-item > h4	{
		color:#e9294b;
}
.section, .scrollable-content{	
	background-color: #79C7C9;
	/*#fbe9ea*/ ;
	/*#F5C9CA;*/
}



.timeline-Widget {
	background-color: #21a3a6;
	border: 1px solid #818387;
}


#entity-search{
	background-color: #21a3a6;
	border-bottom: 1px solid #ccc;
}

.navbar-app,.navbar-app .btn-navbar, .navbar-app .btn-navbar:hover, .navbar-app .btn, .navbar-app .btn:hover{ 
	color:#21a3a6;
}

.thumbnail {
	border-color: #21a3a6;
	background-color: #bce3e4;
}

.modal-content {
	border: 1px solid #F5C9CA;
	background-color: #f9f9f9;
}
.btn-custom, .btn-custom:hover, .btn-custom.fa, .btn-custom.fa:hover {
	color: #ccc;
	background-color : #21a3a6;
	border-color : #f9f9f9;
}
