<html>

<head>
    <meta charset="utf-8" />
    <title>Secklow Sound</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <link rel="shortcut icon" href="./docs/logos/favicon.png" type="image/x-icon" />

    <link rel="stylesheet" href="./css/mobile-angular-ui-hover.min.css" />
    <link rel="stylesheet" href="./css/mobile-angular-ui-base.min.css" />
    <link rel="stylesheet" href="./css/mobile-angular-ui-desktop.min.css" />
    <link rel="stylesheet" href="./css/font-awesome.min.css" />
	<link href="./css/angular-selector.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/jqcloud.min.css" />
	

	
	<link rel="stylesheet" href="./css/css_custom.css" />
	
	
 	<script src="./js/jquery-1.11.1.min.js"></script>
    <script src="./js/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-touch.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.min.js"></script>
    <script src="./js/mobile-angular-ui.min.js"></script>
	<script src="./js/angular-selector.js"></script>
	<script src="./js/angular.audio.js"></script>
	<script src="./js/angular-jqcloud.js"></script>
	<script src='./js/ng-map.min.js'></script>
	<script src="./js/Chart.min.js"></script>
	<script src='./js/angular-chart.min.js'></script>
	<script src="./js/jqcloud.min.js"></script>
	<script src='./js/match-media.js'></script>
    <script src="js/mainApp.js"></script>
	
	
</head>

<body ng-app="SecklowApp" ng-controller="MainController">

<div ui-yield-to="modals"></div>
 
 <div class="app">


	 <nav class="navbar navbar-default" >
		<div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand " yield-to="title" href="#">
		        <img id="imgLogo" alt="Brand" src="./docs/logos/favicon.png"/>
		      </a>
			  <div id="title" class="navbar-brand ">
				<img  ng-if="mobile" id="logoMobile" src='./docs/logos/ss.png'/>
			  	<span ng-if="desktop" class="text-custom" > <strong style="color:grey">Secklow Sounds</strong> <strong>community radio for  </strong> <strong style="color:black">Milton Keynes</strong>  </span> 
			  </div>
		    </div>
           
                

   		
			
		  </div>
	</nav>
     
	 
	 <div class="navbar navbar-app navbar-absolute-bottom">

         <span class="text-custom" id="title">  <strong>  </strong> </span> 

     </div>

     <div class="app-body">
         <ng-view class="app-content"></ng-view>
     </div>

 </div>
 




</body>

</html>