	 <div class="container" >		
	 		<div class="scrollable" >
	 		  <div class="scrollable-content">
				<h1  ng-show="loading" style="color:#ccc" class="text-center">
					<br/>
					<i class="fa fa-spinner fa-spin fa-2x fa-fw" aria-hidden="true"></i>
				</h1>
				  <div id="entity-search" ng-hide="loading" class="section" >		  	
					
					<input  ng-hide="loading"  ng-model="query" type="search" class="form-control " placeholder="Search for an entity..."/>
			  		
					<ui-state id='activeTab' default=''></ui-state>
					<ul ng-hide="loading" class="pager" >
			  			<li ui-set="{'activeTab': activeTab }" ng-repeat='ex in examples track by $index' ng-class="{'active': activeTab == $index}" ng-click="test(ex,$index)" ><a>{{clean(ex)}}</a></li>
			  		</ul>
										
				  </div> 
				  
				  
	 		    <div class="section " ng-hide="!query" ng-class="{'col-md-8' : desktop, 'col-lg-8' : desktop}" >
						<ul class="list-group">
							<li ng-repeat="epi in episodes | orderBy : orderProp | filter: query : comparator: epi.entities | limitTo:10:pageCounter"  ng-click="openEpisode(epi)"  class="list-group-item clearfix">
									<img class="img-episode pull-left" ng-src="./docs/shapes/{{4 | randomize}}.png" />
									<h4 class="text-custom">{{epi.title}}</h4>
									<small><em> We talked about</em> <strong class="text-custom">{{query}}</strong>
									<p ng-if="epi.date != '' || epi.date != undefined ">{{ revert(epi.date) }}</p>
									<p ng-if="epi.presenter != '' || epi.presenter != undefined ">{{ epi.presenter }}</p>
							</li>
						</ul>	
						<ul class="pager">
							<li ng-click="previousPages()"><a ng-if="(episodes|filter:query).length > 10" > Previous </a></li>
							<li ng-click="nextPages()"><a ng-if="(episodes|filter:query).length > 10" > Next </a></li>
						</ul>			
	 		    </div>
				
	 		    <div  ng-if="desktop" ng-hide="loading" id="socialSection" class="section col-md-4 col-lg-4"  >
					
					<a class="twitter-timeline"  data-chrome=" nofooter" data-tweet-limit="3" data-height="300" data-dnt="true" data-theme="light" data-link-color="#e9294b" href="https://twitter.com/SecklowSounds">Tweets by SecklowSounds</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
					
					<br/><br/>
					
					<div class="fb-page" data-href="https://www.facebook.com/secklowsoundsradio/" data-width="400" data-tabs="timeline" data-height="300" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/secklowsoundsradio/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/secklowsoundsradio/">Secklow Sounds</a></blockquote></div>
					
					
		         </div>
	 		  </div>
	 		</div>
	 </div>

	
			
					